section {
  min-height: 100vh;
  padding: 7rem 9% 2rem;
}
.home {
  display: flex;
  align-items: center;
  background: url(/public/assets/banner.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  padding: 0 9%;
}

.home-content {
  max-width: 600px;
  z-index: 99;
}

.home-content .name {
  position: relative;
  font-size: 54px;
  font-weight: 700;
  line-height: 1.2;
}

.home-content .name::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: var(--bg-color);
  animation: showRight 1s ease forwards;
  animation-delay: 1s;
}

.home-content .profession {
  position: relative;
  font-size: 32px;
  font-weight: 700;
  color: var(--primary);
}

.home-content .profession::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: var(--bg-color);
  animation: showRight 1s ease forwards;
  animation-delay: 1.3s;
}

.home-content .discription {
  position: relative;
  font-size: 16px;
  margin: 20px 0px 40px;
}

.home-content .discription .highlight {
  color: var(--primary);
  font-weight: 600;
}

.home-content .discription::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: var(--bg-color);
  animation: showRight 1s ease forwards;
  animation-delay: 1.6s;
}

.btn-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 345px;
  height: 50px;
}

.btn-box::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: var(--bg-color);
  animation: showRight 1s ease forwards;
  animation-delay: 1.9s;
  z-index: 2;
}

.btn-box .links {
  position: relative;
  display: inline-flex;
  width: 150px;
  background: var(--primary);
  color: var(--bg-color);
  border: 2px solid var(--primary);
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 19px;
  font-weight: 600;
  z-index: 1;
  overflow: hidden;
  transition: 0.5s ease;
}

.btn-box .links:hover {
  color: var(--primary);
}

.btn-box .links:nth-child(2) {
  background: transparent;
  color: var(--primary);
}

.btn-box .links:nth-child(2):hover {
  color: var(--bg-color);
}

.btn-box .links:nth-child(2)::before {
  background: var(--primary);
}

.btn-box .links::before {
  position: absolute;
  content: " ";
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background: var(--bg-color);
  transition: 0.5s ease;
}

.btn-box .links:hover::before {
  width: 100%;
}

/* RESPONSIVE */
@media only screen and (max-width: 991px) {
  section {
    padding: 10rem 4% 2rem;
  }
  .home {
    padding: 0 4%;
  }
}
