.skills {
  background: var(--bg-secondary);
}
.skills .page-header {
  padding-bottom: 5rem;
}

.skills .skills-row {
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
}

.skills-row .skills-column {
  flex: 1 1 40rem;
}

.skills-column .title {
  font-size: 2.5rem;
  margin: 0 0 1.5rem;
}

.skills-box .skills-content {
  position: relative;
  border: 0.2rem solid var(--primary);
  padding: 0.5rem 1.5rem;
  z-index: 1;
  overflow: hidden;
}

.skills-box .skills-content::before {
  position: absolute;
  content: " ";
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  background: var(--bg-color);
  transition: 0.5s;
  z-index: -1;
}

.skills-box .skills-content:hover::before {
  width: 100%;
}

.skills-content .progress {
  padding: 1rem 0;
}

.skills-content .progress h3 {
  font-size: 1.7rem;
  display: flex;
  justify-content: space-between;
}

.skills-content .progress .bar {
  height: 2.5rem;
  border: 0.2rem solid var(--primary);
  border-radius: 0.6rem;
  padding: 0.5rem;
  margin: 1rem 0;
}

.skills-content .progress .bar span {
  display: block;
  height: 100%;
  border-radius: 0.3rem;
  background: var(--primary);
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(1) .bar span {
  width: 90%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(2) .bar span {
  width: 75%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(3) .bar span {
  width: 80%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(4) .bar span {
  width: 90%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(1) .bar span {
  width: 70%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(2) .bar span {
  width: 55%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(3) .bar span {
  width: 60%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(4) .bar span {
  width: 75%;
}
