.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  background-color: var(--bg-secondary);
}
.page-header {
  font-size: 5rem;
  margin-bottom: 2rem;
  text-align: center;
}
.page-header span {
  color: var(--primary);
}
.about .about-img {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25rem;
  height: 25rem;
  border-radius: 50%;
}

.about-img img {
  position: absolute;
  width: 90%;
  height: 90%;
  border-radius: 50%;
  backdrop-filter: grayscale(50%);
  border: 0.2rem solid var(--primary);
}

.about-img .circle-spin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0);
  width: 105%;
  height: 105%;
  border-radius: 50%;
  border-top: 0.2rem solid var(--bg-secondary);
  border-bottom: 0.2rem solid var(--bg-secondary);
  border-right: 0.2rem solid var(--primary);
  border-left: 0.2rem solid var(--primary);
}

.about .about-content {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about .about-content h3 {
  font-size: 2.6rem;
}

.about .about-content p {
  font-size: 1.6rem;
  margin: 10px 0 2rem;
  max-width: 70%;
}

.btn-box.btns {
  display: inline-flex;
  width: 15rem;
}

.btn-box.btns a::before {
  background-color: var(--bg-secondary);
}
