@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Open+Sans:wght@300;400;500;600;700&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background: var(--bg-color);
  color: var(--white);
}

:root {
  --bg-color: #081b29;
  --bg-secondary: #112e42;
  --primary: #00abf0;
  --white: #ededed;
}

/* RESPONSIVE */
@media only screen and (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}
