.social-media {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 170px;
  bottom: 40px;
}

.social-media::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #081b29;
  animation: showRight 1s ease forwards;
  animation-delay: 2.5s;
  z-index: 2;
}

.social-media .social-link {
  position: relative;
  display: inline-flex;
  width: 40px;
  height: 40px;
  font-size: 25px;
  align-items: center;
  justify-content: center;
  border: 2px solid #00abf0;
  background: transparent;
  border-radius: 50%;
  text-decoration: none;
  color: #00abf0;
  z-index: 1;
  overflow: hidden;
  transition: 0.5s ease;
}

.social-media .social-link:hover {
  color: #081b29;
}

.social-media .social-link::before {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  background: #00abf0;
  transition: 0.5s ease;
  z-index: -1;
}

.social-media .social-link:hover::before {
  width: 100%;
}

.home-imgHover {
  position: absolute;
  top: 0;
  right: 130px;
  background: transparent;
  width: 500px;
  height: 100%;
  transition: 3s ease;
  animation: activeHover 0.1s forwards 4s;
  pointer-events: none;
}

.home-imgHover::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 120%;
  height: 100%;
  background: #081b29;
  animation: showRight 1s ease forwards;
  animation-delay: 2.8s;
  z-index: 100;
}

.home-imgHover:hover {
  background: #081b29;
  opacity: 0.8;
}

/* ANIMATION KEYFRAMES */

@keyframes activeHover {
  100% {
    pointer-events: auto;
  }
}
